body{overflow-x: hidden;font-family: 'Ubuntu', sans-serif;}
a {
    color: #03A9F9;
    text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h4,h5,h6{font-family: 'Ubuntu', sans-serif;color: #34495E;font-weight: bold;}
p{color: #34495E;font-size: 16px;}
.header-panel {
background-color: #3498DB;
text-align:center;
position: relative;
z-index: 3;
padding-top: 12px;
}
.header-panel .logo{height: 70px;}
.header-panel div {
position: relative;
}
.header-panel h1 {
text-align:center;color:#fff;font-size: 30px;
}
.sbox h2{font-size:20px;margin-bottom:30px;}
.mt20{margin-top:20px}
.well{box-shadow:none !important;border-radius: 0px 0px 30px 30px !important;}
.well .title{ font-size:25px;}
.btn.btn-fab {
    margin: 20px 0px;
    padding: 11px;
    font-size: 18px;
    width: 40px;
    height: 40px;
}
.form-control {background-image: linear-gradient(#34495E,#34495E),linear-gradient(#d2d2d2,#d2d2d2);}
.btn-inverse{background-color: #34495E !important;}

.footer p{text-align:center;}

.txttile{padding-left: 10px;}

.myterms a {color:#CECECE !important;text-decoration:none !important;}

.adtop{    z-index: 99; background: #FFF;}
.adbot{    position: relative;
    top: -16px;
    z-index: 9;}